legend {color: rgb(16, 54, 124);}
thead {color:rgb(139, 114, 30)}
tbody {color: rgb(25, 37, 151)}
body {background-image: url(https://t4.ftcdn.net/jpg/02/28/67/07/360_F_228670737_QtftGXJAHbLmN4IerXpNqCbuSk1mncX3.jpg);}
table {background-color: rgba(224, 199, 199, 0.705);}
